In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
import sparql_dataframe

# SPARQL query from Ontop
Make sure the ontop endpoint is running on `http://localhost:8080`.

We define the a SPARQL query to fetch `lastName` and `firstName` for individuals with role `:PostDoc`.

In [2]:
endpoint = "http://localhost:8080/sparql"

q = """
PREFIX : <http://example.org/voc#>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>

SELECT DISTINCT ?prof ?lastName ?firstName
WHERE {
  ?prof a :PostDoc ;
        foaf:lastName ?lastName ;
        foaf:firstName ?firstName .
}
"""

Execute the query and get results as pandas dataframe

In [4]:
df = sparql_dataframe.get(endpoint, q)
df.head()

                                      prof lastName firstName
0   http://example.org/voc#uni1/academic/2      May    Edward
1  http://example.org/voc#uni1/academic/11    Merry    Alvena
2     http://example.org/voc#uni2/person/5    Merry    Alvena

## NLP to SPARQL
This is a test to see if gpt `o3-mini` is capable of generating a valid SPARQL query from natural language. The the following natural language query was used:

```
Generate a SPARQL query to get all Teachers who are Professors. List their first and last names as well as the name of the courses they teach. Take into account that data is stored in H2 database and might have limitations. Use the following ontology to ensure that the query is valid: {ONTOLOGY}
```

It generated the following SPARQL query:

In [5]:
q_nlp = """
PREFIX : <http://example.org/voc#>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>

SELECT ?firstName ?lastName ?courseName
WHERE {
  ?person a :Teacher .
  ?person a :Professor .
  ?person foaf:firstName ?firstName .
  ?person foaf:lastName ?lastName .
  OPTIONAL {
    ?person :teaches ?course .
    ?course :title ?courseName .
  }
}
"""

df_nlp = sparql_dataframe.get(endpoint, q_nlp)
df_nlp.head()

   firstName  lastName           courseName
0      Zlata   Richmal                  NaN
1     Karine   Attilio  Theory of Computing
2  Priscilla     Hildr    Operating Systems
3       Anna  Chambers       Linear Algebra
4     Gerard    Cosimo     Research Methods